@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 300;
  src: local('Signika Negative Light'), local('SignikaNegative-Light'), url(https://fonts.gstatic.com/s/signikanegative/v9/E217_cfngu7HiRpPX3ZpNE4kY5zKal6DupbJ7A.woff) format('woff');
}
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 400;
  src: local('Signika Negative Regular'), local('SignikaNegative-Regular'), url(https://fonts.gstatic.com/s/signikanegative/v9/E218_cfngu7HiRpPX3ZpNE4kY5zKYvWhqQ.woff) format('woff');
}
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 600;
  src: local('Signika Negative SemiBold'), local('SignikaNegative-SemiBold'), url(https://fonts.gstatic.com/s/signikanegative/v9/E217_cfngu7HiRpPX3ZpNE4kY5zKaiqFupbJ7A.woff) format('woff');
}
@font-face {
  font-family: 'Signika Negative';
  font-style: normal;
  font-weight: 700;
  src: local('Signika Negative Bold'), local('SignikaNegative-Bold'), url(https://fonts.gstatic.com/s/signikanegative/v9/E217_cfngu7HiRpPX3ZpNE4kY5zKak6EupbJ7A.woff) format('woff');
}
